/*Font menu*/
@font-face {
font-family: myFont;
src: url(airplanes.ttf);
}

body
{
	background-color: #070d19;
}

/*Caratteristiche principali dell'header*/
header
{
	background: url(../images/header.jpg) no-repeat;
	height: 183px;
}

/*Logo*/
#logoContainer
{
	margin: 0 auto;
    width: 350px;
}

/*Benvenuto*/

#benvenuto
{
	display: inline;
    width: auto;
    height: auto;
    background-color: #070d19;
    font-family: "myFont";
    color: #ffc307;
    font-size: 23px;
    position: relative;
    top: -32px;
    float: right;
	padding: 5px;
    padding-left: 14px;
    padding-right: 11px;
    right: -14px;
    border-top-left-radius: 22px;
}

#benvenuto a
{
	color: #ffc307;
}

#benvenuto a:hover
{
	color: #cbcbcb;
	text-decoration: none;
}

#logout
{
	width:25px;
	margin-left: 13px;
    margin-top: -6px;
}

img#logout:hover
{
	opacity:0.8;
}

@media screen and (max-width: 768px)
{
	/*Mobile div Benvenuto*/
	#benvenuto
	{
		display: inline;
	    width: auto;
	    height: auto;
	    background-color: #070d19;
	    font-family: "myFont";
	    color: #ffc307;
	    font-size: 20px;
	    position: relative;
	    top: 9px;
	    float: right;
		padding: 5px;
	    padding-left: 14px;
	    padding-right: 11px;
	    padding-bottom:11px;
	    right: -15px;
	    border-top-left-radius: 22px;
	}
	
	#logout
	{
		width:25px;
		margin-left: 13px;
	    margin-top: -6px;
	}
}

/*Menu*/
#menu
{
	background-color: #070d19;
	font-family: "myFont";
	border: none;

}

#mainNavBar
{
	margin-left: -27px;
}

#mainNavBar li a 
{
    color: #ffc307;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 2px;
}

#mainNavBar li.attivo a
{
    color: #cbcbcb;
}

#mainNavBar li a:hover 
{
    color: #cbcbcb;
}

#bottoneMobile
{
	float:left;
	margin-left: 5px;
	border-color: #ffc307;
}

.navbar-toggle
{
	background-color: #070d19;
}

div#mainNavBar.navbar-collapse.collapse.in
{
	border: none;
}

.input-group
{
	float: left;
	margin-left:-39px; 
	width: 1px;
}

#carrello img
{
	width: 35px;
}

button#buttonCarrello
{
	padding:0px; 
	height:0px; 
	margin-left:24px; 
	margin-bottom:3px; 
	margin-top:17px; 
	background-color:#070d19; 
	border:none;
}

button#buttonCarrello:hover
{
	opacity: 0.5;
}

/*Section*/

section
{
	background-color: #cbcbcb;
	height: auto;
}

/*Article*/

article
{
    float: left;
    width: 225px;
    height: 280px;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    background-color: #cbcbcb;
}

#box_article
{
	float: left;
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
	color: #ffc307;
	background-color: #070d19;
	width: 225px;
    height: 280px;
    box-shadow: 2px 2px 5px black;
}

#immagine_article img
{
	width: 100%;
	height: 125px;
}

#immagine_article_new img
{
	width: 100%;
	height: 125px;
	margin-top: -55px;
}


#new
{
	position: relative;
	width: 55px;
	height: 55px;
	top: -9px;
	left: -10px;
}

#new img
{
	width: 55px;
	height: 55px;
	
}

#descrizione_pagina
{
    margin-left: 4px;
    margin-top: 3px;
}

#compra_articolo
{
    margin-left: 25px;
    margin-top: 20px;
}

#prezzo
{
	display:inline;
    font-weight: bold;
}

button#bottonePiu
{
	background-color: #070d19;
    width: 0;
    height: 0;
    border: none;
    display: inline;
    margin-left:20px;
}

button#bottonePiu:hover
{
	opacity: 0.8;
}

/*Carrello*/

#scontrino
{
	background-color: #070d19;
    color: #ffc307;
    height: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    font-family: "Times New Roman", Georgia, Serif;
}

#scontrino img
{
	width: 20px;
}

#scontrino img:hover
{
	opacity: 0.8;
}

#scontrino_sup
{
	padding-top: 5px;
	font-size: 25px;
	text-align: center;
}

#scontrino_sup p
{
	font-size: 18px;
	padding-top:10px; 
}

#scontrino_med
{
	width: 100%;
}

#scontrino_bar hr
{
	margin-top: 15px;
	border: 1px dashed #ffc307;
}

#scontrino_tot
{
	padding-left: 5px;
	font-size: 18px;
	font-weight: bold;
}

#scontrino_tot p
{
	float: right;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 12px;
}

#tabella_scontrino thead,tr,td,th
{
	border:0px solid #ddd!important
}


.submit_acquista
{
	background-color: #ffc307;
    font-size: 18px;
    height: 30px;
    border-radius: 9px;
    margin-left: 160px;
    margin-top: 25px;
    border: 0px;
    width: 80px;
    color: #070d19;
    margin-bottom: 10px;
}

#scontrino_acquista input[type="submit"]:hover 
{
    background-color: #cbcbcb;
}

/*Menu Gestore*/

#menu_gestione
{
	font-family: "Times New Roman", Georgia, Serif;
    height: auto;
    background-color: #070d19;
    color: #ffc307;
    margin-bottom: 150px;
    margin-top: 100px;
    text-align:center;
    border-radius:5px;
    padding: 1px 5px;
}

#menu_gestione ul
{
	list-style-image: url('../images/star_li.png');
}

#menu_gestione ul li
{
	padding:10px;
	font-size:20px;
	color: #ffc307;
}

#menu_gestione ul li a img
{
	margin-top: -5px;
    margin-right: 8px;
    width: 20px;
}

#menu_gestione a
{
	text-decoration: none;
	font-size:20px;
	color: #ffc307;
	padding-left: 16px;
}

#menu_gestione a:hover
{
	font-size:20px;
	color: #cbcbcb;
}

#tool
{
	position: relative;
    width: 35px;
    top: -2px;
    left: 227px;
}

/*Mappa*/

#mappa_frame
{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
}

/*Footer*/

footer
{
	height: 100px;
	background-color: #070d19;
	color: #ffc307;
	font-family: myFont;
	font-size: 14px;
}

#copyright
{
	text-align: center;
	margin-top: 10px;
}
#copyright img
{
	margin-top: -10px;
}

/*Accedi(Modal)*/

button#buttonChiudi
{
	opacity:1;
}

button#buttonChiudi:hover
{
	opacity:0.5;
}

div#modalContent
{
	background-color:#070d19;
	color: #ffc307;
	width: 75%;
	margin:0 auto;
	margin-top:200px

}

div#modalContent.modal-header
{
	border-bottom: 1px solid red; 
}

div#modalContent,div#modalHeader,div#modalBody,div#modalFooter
{
	border-bottom:none;
	border-top: none;  
}

div#modalHeader
{
	border-bottom: 1px solid #cbcbcb;
}

button#buttonForm
{
	background-color:#ffc307; 
	border:none;
	color: black;	
}

button#buttonForm:hover
{
	opacity: 0.5;
}

div#modalFooter
{
    font-family: myFont;
    font-size: 15px;
}

div#modalFooter a
{
	color: #ffc307;
	text-decoration: underline;	

}

div#modalFooter a:hover
{
	color: #cbcbcb;
	text-decoration: underline;	

}

div#formRegistrazione
{
	margin-top: 15px;
	margin-bottom: 15px;
}